
   <section>
        <div class="content">
            <div>
                <img id="pic1" src="/images/main.jpg" alt="mainpic">
            </div>
            <h2 class="h2css">Antique Store</h2>
            <p class="p1">An antique is an item perceived as having value because of its aesthetic or historical significance, and often defined as at least 100 years old, although the term is often used loosely to describe any object that is old.</p>
             <a href="https://instagram.com/archaicashiyas?igshid=YmMyMTA2M2Y="><button class="button1" type="button" >Show Now</button></a>
        </div>

        <div id="card1" class="card" style="width: 18rem;">
            <img src="/images/card1.jpg" class="card-img-top" alt="card1">
            <div class="card-body">
              <p class="card-text"> <b>Planter</b>  <br>
                <b style="color: chocolate;">PKR 2500</b>  <br>
                <b>Dimensions: 5.5x3</b>
                </p>              <a href="/frames">View more</a>
            </div> 
          </div>


          <div id="card3" class="card" style="width: 18rem;">
            <a href=""><img src="/images/card3.jpg" class="card-img-top" alt="card1"></a>
            
            <div class="card-body">
              <p class="card-text"> <b>Decoration Piece</b>  <br>
                <b style="color: chocolate;">PKR 3500</b>  <br>
                <b>Dimensions: 3.5x3</b>
                </p>              <a href="/moreproducts">View more</a>
            </div> 

          </div>

          <div id="card4" class="card" style="width: 18rem;">
            <img src="/images/card4.jpg" class="card-img-top" alt="card1">
            <div class="card-body">
              <p class="card-text"> <b >Guitar</b>  <br>
                <b style="color: chocolate;">PKR 2500</b>  <br>
                <b>Dimensions: 5.5x3</b>
                </p>
              <a href="/masks">View more</a>
            </div> 
          </div>
          
        </div>
        <hr />
        

      </section>