
<style>
.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

.form-label {
  font-weight: bold;
  color: rgb(100, 156, 83);
}

.form-control {
  border-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-center, h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<body style="background-color:rgb(34, 49, 34) ;">
  <br><br><br>
  <h2 style="color: rgb(216, 92, 87); justify-content: center; align-items: center; padding-bottom: 10%;">Welcome to Archaic Ashiyas</h2>
<div class="container" style="background-image: url('images/main.jpg');">
    <div class="row justify-content-center">
        <form action="" method="post" >
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3">
              <!-- <img src="/images/main.jpg" alt="main" style="border-radius: 50%; width:20%;height: 20%; justify-content: center;align-items: center;"> -->
              <br><br><br><br><br>
                <label for="username" class="form-label">UserName</label>
                <input class="form-control" type="text" id="username" name="username" value="jahanzaibbaig01"/>
            </div>
            <div class="mb-3">
              <br>
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="text" id="email" name="email" value="jazzy.baig@gmail.com"/>
            </div>
            <div class="mb-3">
              <br>
                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" id="password" name="password" value="jazzy"/>
            </div>
            <div class="mb-3">
              <br>
                <button class="btn btn-outline-success btn-center" type="submit" >Signup</button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</form>
    </div>
</div>
</body>
